body {
    background: #DDDDDD;
}

.navbar {
    background-color: #800000;
    color: white;
}

.page-container {
    margin-top: 75px;
}

.square {
    background-color: #80000080;
    color: white;
    text-align: center;
    font-size: 60px;
    line-height: 100px;
    font-weight: 500;
    flex: 1 0 33.3%;
}

/* You can add the following classes to get the corresponding features */

.b-top {
    border-top: 4px solid #000000;
}

.b-bottom {
    border-bottom: 4px solid #000000;
}

.b-left {
    border-left: 4px solid #000000;
}

.b-right {
    border-right: 4px solid #000000;
}
 #newGameButton {
    background:#800000;
    margin-top: 15px;
    color:white;
    /* auto means you can expand, so this shifts right */
    margin-left:auto;
    /* grid-column uses the start and end columns */
    /* grid-column: 1 / 4; */
    grid-column: span 3;
    /* Negative indexing (to choose last column also works) */

 }

.my-row {
    display:flex;
    flex-direction:row;
} 

#gameBoard {
    height: 300px;
    width: 300px;
}

#gameStateText {
    text-align: center;
}

#gameBoard {
    /* we wanna avoid hard-coded number, and we definitely want them to be different for different screen sizes */
    height: 300px;
    /* margin:20px auto; */
    width:300px;
    display: grid;
    /* auto auto auto is imbalanced, use 1fr */
    grid-template-columns: 1fr 1fr 1fr;
    /* helps prevent issues with shrinkage of cells with no inner G */
    /* Would've done auto auto auto or 1fr 1fr 1fr if tey didn't results in imbalance for some reason */
    grid-template-rows: 33.3% 33.3% 33.3%;
}

.page-container {
    margin-top: 75px;
    display: flex;
    flex-direction: column;
    /* You center on the main axis using justify-content property, but across the perpendicular you use align items*/
    align-items: center;
}

/* // Extra small devices (portrait phones, less than 576px) */
/* // No media query since this is the default in Bootstrap */

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 
    /* code only exists if the condition is met */

    
    #gameBoard {
        /* we wanna avoid hard-coded number, and we definitely want them to be different for different screen sizes */
        height: 450px;
        /* margin:20px auto; */
        width:450px;
    }

    /* Paste in the previously written css and eliminate until it's just things that need to change with the query */

    .square {
        font-size: 90px;
        line-height: 140px;
    }

    /* Don't forget to consider everything on the page! */
    #newGameButton {
        font-size : 1.25em;
    }
 }

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    #gameBoard {
        /* we wanna avoid hard-coded number, and we definitely want them to be different for different screen sizes */
        height: 600px;
        width:600px;
    }

    /* Paste in the previously written css and eliminate until it's just things that need to change with the query */

    .square {
        font-size: 120px;
        line-height: 180px;
    }

    
    #newGameButton {
        font-size : 1.5em;
    }
 }
/* 
 // Large devices (desktops, 992px and up) 
@media (min-width: 992px) { 

 }

 // Extra large devices (large desktops, 1200px and up) 
@media (min-width: 1200px) { 

 }
 */